header{
    position: absolute;
    margin: 55px 0 20px;
    background-color: #000;
    color: #FFF;
    -webkit-box-shadow: 0 5px 6px rgba(0, 0, 0, 0.6);
    box-shadow: 0 5px 6px rgba(0, 0, 0, 0.6)
}

nav{
    min-height: 55px !important;
}

.title-header{
    margin: auto 0;
    padding: 10px 0;
    font-size: 1.4rem;
}

.title-header sub{
    font-size: 0.7rem;
}

@media (max-width: 576px) {
    header img{
        display: none;
    }
}